[Unit]
Description=Delete old posts from GitLab Mattermost

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/delete-posts
User=mattermost
Nice=9
IOSchedulingClass=idle
